* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
aside,
footer {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* inter-400 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.title {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__underline {
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}

.container__header {
  background-color: #0C0C0E;
}

.header {
  color: #FFFFFF;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__right-side {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: Forum;
  font-size: 30px;
  letter-spacing: 0.6px;
}
.header__nav-body {
  font-family: Inter;
  font-size: 20px;
  line-height: 250%;
}
.header__nav-list {
  display: flex;
}
.header__nav-list li {
  padding: 0 15px;
}
.header__nav-list li a {
  color: #FFFFFF;
}
.header__profile {
  margin-left: 25px;
}

.container__welcome {
  min-height: 600px;
  height: 100%;
  padding-top: 220px;
  background: linear-gradient(180deg, #0C0C0E 0%, rgba(18, 18, 21, 0.1) 50%, rgba(255, 255, 255, 0) 50.01%), url(../img/welcome.jpg);
}

.welcome {
  color: #FFFFFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.welcome__body {
  background-color: #0C0C0E;
  max-width: 600px;
  padding: 35px 40px;
  position: relative;
  left: -20px;
}

.about__title {
  margin: 20px 0;
}
.about__underline {
  margin-bottom: 40px;
}
.about__subtitle {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  line-height: 200%;
  margin-bottom: 20px;
}
.about__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.circle {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.circle__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  margin: 0 5px;
}
.circle__item_active {
  background-color: #BB945F;
}

.favorites__title {
  margin-bottom: 20px;
}
.favorites h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 300%;
  margin-bottom: 20px;
}
.favorites__form {
  font-family: Inter;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  margin-bottom: 35x;
}
.favorites__form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 17px;
  height: 17px;
}
.favorites__form input::before {
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.favorites__form input:checked::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
}
.favorites__form input:checked + span {
  font-weight: bold;
}
.favorites__radio {
  min-width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
}
.favorites__radio span {
  margin-left: 20px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 40px;
}
.card_discription {
  font-family: Inter;
  font-size: 15px;
  line-height: 266.667%;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 15px;
  flex-grow: 1;
}
.card_button {
  margin-bottom: 15px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: white;
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
.card__item {
  min-width: 550px;
  border: 1px solid black;
  padding-left: 20px;
  position: relative;
  margin-bottom: 40px;
}
.card__item img {
  position: absolute;
  right: -40px;
  bottom: -1px;
  z-index: 1;
}
.card__content {
  max-width: 357px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__header {
  padding-top: 15px;
  font-family: Forum;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.card__header div {
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}
.card__title {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 266.667%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__subtitle {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 266.667%;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.coffee-shop {
  margin-bottom: 60px;
}
.coffee-shop__title {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.coffee-shop__subtitle {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 2px;
  margin-bottom: 40px;
  padding-top: 20px;
}
.coffee-shop__flex {
  display: flex;
  justify-content: space-between;
}
.coffee-shop__deserts-card {
  padding-right: 10px;
}

.drinks-card__title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.drinks-card__content {
  display: grid;
  grid-template-columns: 1fr 100px 21px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 40px;
  align-items: center;
}
.drinks-card__name {
  font-family: Inter;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.drinks-card__space {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
}
.drinks-card__cost {
  font-family: Forum;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 2px;
}

.deserts-card__title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: end;
  margin-right: -10px;
}
.deserts-card__content {
  display: grid;
  grid-template-rows: 6;
  grid-template-columns: 1fr 100px 21px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 40px;
  align-items: center;
}
.deserts-card__name {
  font-family: Inter;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 2px;
  text-align: end;
}
.deserts-card__space {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
}
.deserts-card__cost {
  font-family: Forum;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 2px;
}

.contacts {
  margin-bottom: 60px;
}
.contacts__title {
  margin-bottom: 20px;
}
.contacts__underline {
  margin-bottom: 40px;
}
.contacts__body {
  display: flex;
  justify-content: space-between;
}
.contacts__content {
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 2px;
  text-align: left;
  text-transform: capitalize;
}
.contacts__subtitle {
  font-weight: 700;
  margin-bottom: 40px;
}
.contacts__info {
  margin-bottom: 20px;
}
.contacts__info:nth-child(4) {
  margin-bottom: 40px;
}
.contacts__info:nth-child(5) {
  font-weight: 700;
}
.contacts__info-bold {
  font-weight: 700;
}
.contacts__map {
  -o-object-fit: contain;
     object-fit: contain;
}

.digital-cards__title {
  margin-bottom: 20px;
}
.digital-cards__underline {
  margin-bottom: 35px;
}
.digital-cards__body {
  display: flex;
  justify-content: space-between;
}
.digital-cards__left-side {
  max-width: 600px;
}
.digital-cards__left-title {
  font-family: Inter;
  font-size: 30px;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 25px;
}
.digital-cards__right-title {
  text-align: end;
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}
.digital-cards__right-subtitle {
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.4px;
  max-width: 456px;
  margin-bottom: 35px;
}
.digital-cards__buttons {
  text-align: end;
}
.digital-cards__button {
  width: 75px;
  height: 30px;
  padding: 10px 0;
  border-radius: 2px;
  font-weight: 700;
  border: 1px solid #0C0C0E;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.check-form {
  border: 3px solid #BB945F;
  margin-bottom: 40px;
}
.check-form__bg {
  background: #BB945F;
  padding: 20px 20px 0 20px;
  margin: 20px 20px 20px 20px;
}
.check-form__title {
  font-family: Forum;
  font-size: 30px;
  line-height: 166.667%;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
}
.check-form__name {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  margin: 20px 0 25px 0;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}
.check-form__card-number {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  margin-bottom: 25px;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.6px;
}
.check-form__container-button {
  text-align: center;
}
.check-form__button {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 40px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: white;
  margin-bottom: 23px;
}

.footer {
  background-color: red;
  height: 150px;
}/*# sourceMappingURL=style.css.map */