.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
aside,
footer {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* inter-400 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.header {
  background-color: #0C0C0E;
  color: #FFFFFF;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__right-side {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: Forum;
  font-size: 30px;
  letter-spacing: 0.6px;
}
.header__nav-body {
  font-family: Inter;
  font-size: 20px;
  line-height: 250%;
}
.header__nav-list {
  display: flex;
}
.header__nav-list li {
  padding: 0 15px;
}
.header__nav-list li a {
  color: #FFFFFF;
}
.header__profile {
  margin-left: 25px;
}

.container__welcome {
  min-height: 600px;
  height: 100%;
  padding-top: 220px;
  background: linear-gradient(180deg, #0C0C0E 0%, rgba(18, 18, 21, 0.1) 50%, rgba(255, 255, 255, 0) 50.01%), url(../img/welcome.jpg);
}

.welcome {
  color: #FFFFFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.welcome__body {
  background-color: #0C0C0E;
  max-width: 600px;
  padding: 35px 40px;
  position: relative;
  left: -20px;
}

.footer {
  background-color: red;
  height: 150px;
}/*# sourceMappingURL=style.css.map */