.about {
     
		&__title {      
      margin: 20px 0;     
		}    

		&__underline {         
      margin-bottom: 40px;       
		}

		&__subtitle {     
      text-align: center;
      font-family: Inter;
      font-size: 20px;    
      line-height: 200%;
      margin-bottom: 20px;
		}

      &__arrow {  
         display: none;         
      }

      &__arrow:first-child {
         padding-right: 58px;
      }

      &__arrow:last-child {
         padding-left: 58px;
      }

      @media (max-width: 1245px) {
            &__arrow {
               display: block;              
         }
      }

      @media (max-width: 700px) {

            &__arrow:first-child {
         padding-right: 25px;
         }

         &__arrow:last-child {
            padding-left: 25px;
         }

      }

      @media (max-width: 600px) {
            &__arrow {
               display: none;                             
         }
      }

		&__items {   
         display: flex; 
         justify-content: space-between;  
         margin-bottom: 40px;      
         
         img {   
            max-width: 32.5%;                  
         } 

         @media (max-width: 1245px) {            
            img {
               max-width: 100%;                 
            }

            img:nth-child(3),
            img:nth-child(4) {
               display: none;
            }
         }           
	} 

         @media (max-width: 1245px) {
            &__items {
               justify-content: center;
               margin-bottom: 25px;   
            }
         }   
}

.circle {
   padding-bottom: 60px;
   display: flex;
   justify-content: center;

		&__item {
         width: 16px;
         height: 16px;
         border-radius: 50%;
         background-color: $black-special;
         margin: 0 5px;
		}

      @media (min-width: 1246px) {
            &__item:nth-child(4) {
            display: none;         
         }

         &__item:nth-child(5) {
            display: none;
         }
      }      
            
      &__item_active {
         background-color: $orange-special;
		}
}

