.digital-cards {

		&__title {
      margin-bottom: 20px;
		}

       @media (max-width: 767px) {
         &__title {
            font-size: 35px;
         }
      }

    &__underline {
      margin-bottom: 35px;
    }

		&__body {
      display: flex;
      justify-content: space-between;
		}

      @media (max-width: 1245px) {
         &__body {
            flex-direction: column;
            align-items: center;
         }
      }

		&__left-side {
      max-width: 600px;
		}

		&__left-title {
      font-family: Inter;
      font-size: 30px;     
      letter-spacing: 0.6px;
      text-align: center;
      margin-bottom: 25px;
		}

		&__check-form {

		}

		&__right-side {

		}     

      @media (max-width: 1245px) {
            &__right-side {
               display: flex;
               flex-direction: column;
               text-align: center;
               align-items: center;
               margin-bottom: 40px;
         }
      }

		&__right-title {  
      text-align: end; 
      font-family: Forum;
      font-size: 30px;      
      font-weight: 400;      
      letter-spacing: 0.6px;
      margin-bottom: 30px;
		}

		&__right-subtitle {      
      text-align: right;
      font-family: Inter;
      font-size: 20px;      
      line-height: 200%;
      letter-spacing: 0.4px;
      max-width: 456px;
      margin-bottom: 35px;
		}

      @media (max-width: 1245px) {
            &__right-subtitle {        
         margin-bottom: 42px;
         }
      }

      @media (max-width: 1245px) {
            &__right-subtitle {
               max-width: 600px;
               text-align: center;
         }
      }

    &__buttons {
      text-align: end;
    }

		&__button {
      width: 75px;
      height: 30px;
      padding: 10px 0;      
      border-radius: 2px;
      font-weight: 700;
      border: 1px solid $black-special;
      background-color: white;
      display: inline-flex;      
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      transition-duration: 0.2s;
		}    

      &__button:hover {
         background-color:rgb(103, 204, 103);
      }
}

.check-form {  
   border: 3px solid $orange-special; 
   margin-bottom: 40px;   

   &__bg {
      background: #BB945F;
      padding: 20px 20px 0 20px;
      margin: 20px 20px 20px 20px;    
   }


		&__title {   
      font-family: Forum;
      font-size: 30px;   
      line-height: 166.667%;
      letter-spacing: 0.6px;   
      display: flex;
      flex-direction: column;      
		}

		&__name {             
      min-width: 520px;      
      height: 66px;
      border-radius: 10px;
      margin: 20px 0 25px 0;     
      font-family: Forum;
      font-size: 30px;     
      font-weight: 400;
      line-height: 166.667%;
      letter-spacing: 0.6px;
      padding-left: 20px;      
      color: #BB945F;      
		}

		&__card-number {
      min-width: 520px;      
      height: 66px;
      border-radius: 10px;      
      margin-bottom: 25px;
      color: #8E8E8E;
      font-family: Forum;
      font-size: 30px;     
      font-weight: 400;
      line-height: 166.667%;
      letter-spacing: 0.6px;
      padding-left: 20px;
		}

      @media (max-width: 700px) {

         &__title {           
         font-size: 22px;               
         }

         &__name {             
      min-width: auto;  
      font-size: 20px;    
         
		}

		&__card-number {
      min-width: auto;      
      font-size: 20px; 
		   }
      }

    &__container-button {
      text-align: center;
    }

		&__button {
      color: $black-special;      
      font-family: Inter;
      font-size: 20px;      
      font-weight: 700;      
      letter-spacing: 1px;
      padding: 10px 40px;
      border-radius: 2px;
      border: 1px solid $black-special;
      background-color: white;  
      margin-bottom: 23px;  
      transition-duration: 0.2s;               
		}      

      &__button:hover {
         background-color:rgb(103, 204, 103);
      }
}                                                                

@media (max-width: 1245px) {
   .check-form {
      margin-bottom: 15px;
   }

   .digital-cards__button:first-child {
      margin-left: 0;
   }
}