.favorites {  
    &__title {
      margin-bottom: 20px;
    }

    h4 {         
      font-family: Inter;
      font-size: 20px;      
      font-weight: 700;  
      line-height: 300%;  
      margin-bottom: 20px;       
    }

      &__form {    
        font-family: Inter;
        font-size: 20px;       
        display: flex;      
        justify-content: space-between;  
        flex-wrap: wrap;
        max-width: 700px;
        width: 100%; 
        margin-bottom: 35x;

        input {                    
          appearance: none;
          position: relative;
          width: 17px;
          height: 17px;
        } 
        
        input::before {
            content: "";
            width: 17px;
            height: 17px;
            border: 2px solid black;
            border-radius: 50%;
            cursor: pointer;        
            position: absolute;   
            top: 0;     
            left: 0;           
        }       

        input:checked::after {
            content: "";
            width: 7px;
            height: 7px;
            background-color: black;            
            border-radius: 50%;
            cursor: pointer;        
            position: absolute; 
            top: 5px;    
            left: 5px;             
        }

        input:checked + span {
          font-weight: bold;
        }           
      }

      @media (max-width: 600px) {
        &__form {
          flex-direction: column;
          align-items: center;
        }

        &__radio {
          
        }
      }
    
      &__radio {   
        min-width: 100px;                
        display: flex;       
        align-items: center; 
        cursor: pointer;  
        margin-bottom: 40px;

          span {
          margin-left: 20px;
          }
        }       

          &__cards {       
            
          }  
        }

        @media (max-width: 600px) {
          .favorites {
            h4 {
              text-align: center;
            }
          }
        }

    .card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 20px;
      margin-right: 40px;              

        &__discription {
          font-family: Inter;
          font-size: 15px;            
          line-height: 266.667%;
          letter-spacing: 2px;
          text-transform: capitalize;
          margin-bottom: 15px;
          flex-grow: 1;
        }

        &__button {
          margin-bottom: 15px;
          width: 75px;
          height: 30px;
          border-radius: 2px;
          border: 1px solid $black-special;
          background-color: white;          
          font-family: Inter;
          font-size: 10px;         
          font-weight: 700;          
          letter-spacing: 1px;  
          animation-duration: 0.25s;                 
        }

        &__button:hover {
          border-color: #BB945F;
          border-radius: 2px;                  
        }

        &__item {
          min-width: 550px;  
          border: 1px solid black;   
          padding-left: 20px;  
          position: relative;
          margin-bottom: 40px;  
          margin-right: 40px;   
          

         

          img {
            position: absolute;
            right: -40px;
            bottom: -1px;
            z-index: 1;
          }
        }   

        @media (max-width: 1245px) {
          &__item {
            margin-right: 0px;
            height: 555px;
          }
        }     
        
        @media (max-width: 767px) {

          &__item {
            min-width: auto;
            height: auto;
            margin-right: 0;
          }
          img{
            top: 0;
            right: 0;
            width: 100px;          
          }
        } 

        &__content {
          max-width: 357px;  
          height: 100%;   
          display: flex;
          flex-direction: column;      
        }

        &__header {
          padding-top: 15px;          
          font-family: Forum;
          font-size: 20px;          
          line-height: 180%;
          letter-spacing: 2px; 
          margin-bottom: 20px; 
          
          div { 
            width: 60px;
            height: 1px;
            background-color: $orange-special;
          }
        }

        &__title {         
          font-family: Inter;
          font-size: 15px;         
          font-weight: 700;
          line-height: 266.667%;
          letter-spacing: 2px;
          text-transform: uppercase;
        }

        &__subtitle {        
        font-family: Inter;
        font-size: 15px;       
        font-weight: 700;
        line-height: 266.667%;
        letter-spacing: 2px;  
        margin-bottom: 20px;      
        }
  }

@media (max-width: 1245px) {
          .card {     
            justify-content: space-around;                   
          }          
        }

        @media (max-width: 767px) {
          .card {
              margin-right: 0;  

              &__title {
                max-width: 200px;
              }

              &__subtitle {
                max-width: 200px;
              }
        }       
        }