.container__footer {  
   background-color: $black-special; 
   height: 100%;
   width: 100%; 
}


.footer {      
      height: 250px;
      color: white;        
      font-family: Inter;
      font-size: 15px;         
      line-height: 133.333%;  
      display: flex;
      flex-direction: column;        

		&__first-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 10px 0;
		}

		&__adress {
      width: 229px;
		}

		&__work-day {
      width: 149px;
      text-align: end;
		}

		&__second-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
		}

		&__social-list {
      display: flex;     
		}

   &__social-link {
      width: 24px;
      height: 24px; 
      margin-right: 15px;  
      transition-duration: 0.25s;      
   }

   &__social-link:hover {
      scale: 150%;      
   }

		&__work-day-holidays {
      width: 149px;
      text-align: end;      
		}

		&__delimeter {
      width: 100%;  
      max-width: 1400px;   
      height: 1px;
      background-color: white;
      margin-bottom: 35px;
		}

		&__third-line {
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 100%;                            
      display: flex;
      justify-content: space-between;
      align-items: center;      
		}

      @media (max-width:700px) {

         &__delimeter {         
            margin-bottom: 25px;
         }

         &__third-line {
            flex-direction: column;
            justify-content: center;           
         }

         &__year { 
         text-align: center; 
         margin-bottom: 15px;                     
         }

         &__rss {
            margin-bottom: 10px;
         }

         &__username {
            margin-bottom: 10px;
         }
      }

		&__year { 
      min-width: 20%;       
		}

		&__rss {
      min-width: 60%; 
      text-align: center;          
         
         a {
            color: white;
            transition-duration: 0.25s;
         } 
         
         a:hover {
            color: yellowgreen;
         }
		}       

		&__username {
      line-height: 200%;
      min-width: 20%;   
      text-align: end;   
      
         a {
         color: white;
         transition-duration: 0.25s;
         }

         a:hover {
            color: yellowgreen;            
         }
		}
}

@media (max-width: 700px) {
   .footer {
      height: auto;
   }
}