.container__footer {
  background-color: $black-special;	
  height: 100%;
  width: 100%; 
}


.footer {      
      height: 250px;
      color: white;        
      font-family: Inter;
      font-size: 15px;         
      line-height: 133.333%;  
      display: flex;
      flex-direction: column;        

		&__first-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 10px 0;
		}

		&__adress {
    width: 229px;
		}

		&__work-day {
      width: 149px;
      text-align: end;
		}

		&__second-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
		}

		&__social-list {
      display: flex;     
		}

    &__social-link {
      width: 24px;
      height: 24px; 
      margin-right: 15px;     
    }

		&__work-day-holidays {
      width: 149px;
      text-align: end;      
		}

		&__delimeter {
      width: 100%;  
      max-width: 1400px;   
      height: 1px;
      background-color: white;
      margin-bottom: 35px;
		}

		&__third-line {
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;      
		}

		&__year { 
      min-width: 33.333%;       
		}

		&__rss {
        min-width: 33.333%; 
        text-align: center;
		}

		&__username {
      line-height: 200%;
      min-width: 33.333%;   
      text-align: end;    
		}
}
