.container__header {
  background-color: $black-special;
}

.header {    
  color: #FFFFFF;   

    &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;    
      height: 90px;      
    }  
    
    &__right-side {
      display: flex;
      align-items: center;
    }

		&__logo {       
      font-family: Forum;
      font-size: 30px;          
      letter-spacing: 0.6px;
		}

		&__nav-body {         
      font-family: Inter;
      font-size: 20px;          
      line-height: 250%;  
		}

		&__nav-list {    
      display: flex;       
      li {
        padding: 0 15px; 

          a {
          color: #FFFFFF;           
          position: relative;          
        } 

          a::before {
            content: "";
            width: 1px;
            height: 2px;
            transition-duration: 0.5s;
          }
        
          a:hover {
          color: $orange-special;
          transition-duration: 0.25s;
        } 

          a:hover::before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: $orange-special;        
          position: absolute; 
          bottom: -3px;
          left: 0;   
          opacity: 0.5;          
        }
      }  
    }  
      &__profile {
        margin-left: 25px;  
        transition-duration: 0.25s;          
      }

      &__profile:hover {
        scale: 110%;           
      }
  
}
