.contacts {       

      a {
      color: black;      
      }  
      a:hover {
         color: blue;
      } 

		&__title {
      margin-bottom: 20px;
		}

		&__underline {      
      margin-bottom: 40px;
		}

      &__body {
      display: flex;
      justify-content: space-between;
      }

      @media (max-width: 1245px) {
         &__body {
         flex-direction: column;
         }
      }

		&__content {     
      text-align: center;
      font-family: Inter;
      font-size: 20px;       
      line-height: 200%;
      letter-spacing: 2px;  
      text-align: left;  
      text-transform: capitalize;  
		}

      @media (max-width: 1245px) {
         &__content {
         margin-bottom: 50px;
         text-align: center;
         }
      }

       @media (max-width: 900px) {
         &__content {
         margin-bottom: 80px;
         text-align: left;
         }         
      }

      @media (max-width: 767px) {
         &__content {
         margin-bottom: 40px;
         text-align: center;
         }         
      }

		&__subtitle {
      font-weight: 700;
      margin-bottom: 40px;
		}

		&__info {
      margin-bottom: 20px;
		}

      @media screen {
            &__info {
         a span {
            white-space: nowrap;
         }
         }
      }

      &__info:nth-child(4) {
         margin-bottom: 40px;
      }

   &__info:nth-child(5) {
      font-weight: 700;
   }

		&__info-bold {
      font-weight: 700;
		}

		&__map {      
      object-fit: contain;
      max-width: 696px;
      margin-bottom: 60px;           
		}   
      
      @media (max-width: 1245px) {
         &__map {
            margin-left: auto;
            margin-right: auto;                       
         }
      }

      @media (max-width: 767px) {
         &__map {
            max-width: 80vw;                              
         }
      }
      
}
